
fastapi

pydantic

uvicorn

psycopg2

SQLAlchemy

python-dotenv

alembic

passlib[bcrypt]

bcrypt

python-jose[crytography]

cryptography

python-multipart

pytest

httpx

coverage

Jinja2

requests

aiohttp

starlette==0.22.0